<% provide(:title, 'About') %>

<!DOCTYPE html>

<h1>About</h1>
                
<p>
    The <a><em>Ruby on Rails Tutorial</em></a> is a
    <a>book</a> and <a>screencast series</a> to teach web development with
    <a>Ruby on Rails</a>. 
    
    This is the sample application for the tutorial.
</p>        

